@model ReservationPolicy
@{
    ViewData["Title"] = "Add A New Reservation Policy";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Policy Title <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="Title" name="Title" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label col-md-3">Policy Description <span class="text-danger">*</span></label>
                                <div class="col-md-12">
                                    <textarea class="form-control" asp-for="Description" name="Description" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Add Policy</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (TempData["success"] != null)
            {
                <strong class="alert-info">@TempData["success"]</strong>
            }
            @if (TempData["modelState"] != null)
            {
                <strong class="alert-info">@TempData["modelState"]</strong>
            }
            else
            {
                <strong class="alert-info">@TempData["error"]</strong>
            }
        </div>
    </div>
</div>