@model IEnumerable<Reservation>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <a asp-controller="Reservation" asp-action="Detail" asp-route-id="@item.Id">
            <div class="list-item">
                <div class="list-body">
                    @if (item.AppUserId != null)
                    {
                        <span class="message-author">@item.AppUser.NameSurname, @item.AppUser.Country </span>
                    }
                    <span class="message-time">Entry: @item.EntryDate.ToShortDateString()</span>
                    <span class="message-time">Departure: @item.DepartureDate.ToShortDateString()</span>
                    <div class="clearfix"></div>
                    <span class="message-content">@item.NumberOfPeople peoples, @item.NumberOfRoom rooms</span>
                </div>
            </div>
        </a>
    </li>
}