@model CommentAnswer
@{
    ViewData["Title"] = "Comment Answer Detail";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-block">
                        <p class="content-group">
                            <a asp-controller="CommentAnswer" asp-action="kurtulusocL" class="btn btn-outline-primary btn-sm btn-rounded">Comment Answer List</a> - <a asp-controller="CommentAnswer" asp-action="AnswerManage" class="btn btn-outline-dark btn-sm btn-rounded">Comment Answer Manager</a>
                        </p>
                        <dl class="row">
                            <dt class="col-sm-4">
                                Comment Answer
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Answer
                            </dd>
                            <dt class="col-sm-4">
                                Comment
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.CommentId != null)
                                {
                                    <span>
                                        Comment: @Model.Comment.Text<br>
                                        Email: @Model.Comment.EmailAddress
                                    </span>
                                    if (Model.Comment.AppUserId != null)
                                    {
                                        <sp>User ID: @Model.Comment.AppUserId</sp>
                                    }
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Created At
                            </dt>
                            <dd class="col-sm-8">
                                @Model.CreatedDate.ToShortDateString()
                            </dd>
                            <dt class="col-sm-4">
                                Updated At
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.UpdatedDate != null)
                                {
                                    <span>@Model.UpdatedDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <strong>No Updated Date Yet</strong>
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Deleted At
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.DeletedDate != null)
                                {
                                    <span>@Model.DeletedDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <strong>No Deleted Date Yet</strong>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    @if (Model.IsConfirmed == true)
                    {
                        <a asp-controller="CommentAnswer" asp-action="DeActive" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Suspend</a>
                    }
                    else
                    {
                        <a asp-controller="CommentAnswer" asp-action="Active" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Share</a>
                    }
                    @if (Model.IsDeleted == true)
                    {
                        <a asp-controller="CommentAnswer" asp-action="NotDeleted" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Not Deleted</a>
                    }
                    else
                    {
                        <a asp-controller="CommentAnswer" asp-action="Deleted" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Deleted</a>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>