@model SocialMedia
@{
    ViewData["Title"] = "Update to Social Media Account";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Account Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="Name" name="Name" value="@Model.Name" required>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Account Url <span class="text-danger">*</span></label>
                                <input class="form-control" type="url" asp-for="Url" name="Url" value="@Model.Url" required>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Upload Account Logo <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input class="form-control btn-danger" type="file" name="image" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Update Social Media Account</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (TempData["success"] != null)
            {
                <strong class="alert-info">@TempData["success"]</strong>
            }
            else
            {
                <strong class="alert-info">@TempData["error"]</strong>
            }
        </div>
    </div>
</div>