@model ForgotPasswordDto
@{
    ViewData["Title"] = "Forgot My Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row ">
            <div class="col-xl-10 col-lg-10 col-md-7 col-sm-12 col-12 mb30">
                <div class="tour-booking-form">
                    <form method="post" asp-action="ForgotPassword">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <h4 class="tour-form-title">@ViewData["Title"]</h4>
                            </div>  
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label"> Email Address *</label>
                                    <input type="email" asp-for="Email" name="Email" placeholder="Email Address *" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" name="singlebutton" class="btn btn-primary">Send Me Code</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    @if (TempData["success"] != null)
                    {
                        <strong class="alert-info">@TempData["success"]</strong>
                    }
                    @if (TempData["error"] != null)
                    {
                        <strong class="alert-info">@TempData["error"]</strong>
                    }
                    else
                    {
                        <strong class="alert-info">@TempData["modelState"]</strong>
                    }
                </div>
            </div>
        </div>
    </div>
</div>