@model AppUser
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-controller="HomeUser" asp-action="MyProfile" asp-route-id="@Model.Id">@Model.NameSurname</a>
        <a class="dropdown-item" asp-controller="HomeUser" asp-action="CreateProfilePhoto" asp-route-id="@Model.Id">Add Profile Photo</a>
        <a class="dropdown-item" asp-controller="UserAuth" asp-action="UpdateProfile" asp-route-id="@Model.Id">Update Profile</a>
        <a class="dropdown-item" asp-controller="UserAuth" asp-action="ChangePassword" asp-route-id="@Model.Id">Change Password</a>
        <a class="dropdown-item" asp-controller="UserAuth" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item">There is an error</a>
    </div>
}