@model AppUser
@{
    ViewData["Title"] = "User Detail";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-block">
                        <p class="content-group">
                            <a asp-controller="User" asp-action="kurtulusocL" class="btn btn-outline-primary btn-sm btn-rounded">User List</a> - <a asp-controller="User" asp-action="UserManage" class="btn btn-outline-dark btn-sm btn-rounded">User Manager</a>
                        </p>
                        <dl class="row">
                            <dt class="col-sm-4">
                                User ID
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Id
                            </dd>
                            <dt class="col-sm-4">
                                Gender
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Gender
                            </dd>
                            <dt class="col-sm-4">
                                Birthdate
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Birthdate.ToShortDateString()
                            </dd>
                            <dt class="col-sm-4">
                                Country
                            </dt>
                            <dd class="col-sm-8">
                               @Model.Country
                            </dd>
                            <dt class="col-sm-4">
                                Comments
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Comments.Count()
                            </dd>
                            <dt class="col-sm-4">
                                Reservations
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Reservations.Count()
                            </dd>
                            <dt class="col-sm-4">
                                Profile Images
                            </dt>
                            <dd class="col-sm-8">
                                @Model.ProfileImages.Count()
                            </dd>
                            <dt class="col-sm-4">
                                Email Confirmed
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.EmailConfirmed==true)
                                {
                                    <span>Email Confirmed</span>
                                }
                                else
                                {
                                <span>Email Not Confirmed</span>
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Phone Number Confirmed
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.PhoneNumberConfirmed == true)
                                {
                                    <span>Phone Number Confirmed</span>
                                }
                                else
                                {
                                    <span>Phone Number Not Confirmed</span>
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Created At
                            </dt>
                            <dd class="col-sm-8">
                                @Model.CreatedDate.ToShortDateString()
                            </dd>
                            <dt class="col-sm-4">
                                Updated At
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.UpdatedDate != null)
                                {
                                    <span>@Model.UpdatedDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <strong>No Updated Date Yet</strong>
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Deleted At
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.DeletedDate != null)
                                {
                                    <span>@Model.DeletedDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <strong>No Deleted Date Yet</strong>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    @if (Model.IsConfirmed == true)
                    {
                        <a asp-controller="AppUser" asp-action="DeActive" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Suspend</a>
                    }
                    else
                    {
                        <a asp-controller="AppUser" asp-action="Active" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Share</a>
                    }
                    @if (Model.IsDeleted == true)
                    {
                        <a asp-controller="AppUser" asp-action="NotDeleted" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Not Deleted</a>
                    }
                    else
                    {
                        <a asp-controller="AppUser" asp-action="Deleted" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-sm btn-rounded">Deleted</a>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>