@using System.Web
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<SendMail>
@{
    ViewData["Title"] = "Sent E-Mail List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-block">
                        <p class="content-group">
                            <a asp-controller="SendMail" asp-action="Create" class="btn btn-outline-primary btn-sm btn-rounded">+ Send New One</a> - <a asp-controller="SendMail" asp-action="MailManage" class="btn btn-outline-dark btn-sm btn-rounded">E-Mail Manager</a>
                        </p>
                        <div class="table-responsive">
                            <table class=" table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Sender E-Mail</th>
                                        <th>Reciever E-mail</th>
                                        <th>Mail Subject</th>
                                        <th>Created At</th>
                                        <th>Ops</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.SenderEmail</td>
                                            <td>@item.RecieverEmail</td>
                                            <td>
                                                @if (item.Subject.Length > 55)
                                                {
                                                    @Html.Raw(HttpUtility.HtmlDecode(More.SafeSubstring(item.Subject,55)+" ..."))
                                                }
                                                else
                                                {
                                                    @Html.Raw(HttpUtility.HtmlDecode(More.SafeSubstring(item.Subject,55)))
                                                }
                                            </td>
                                            <td>@item.CreatedDate.ToShortDateString()</td>
                                            <td>
                                                <a asp-controller="SendMail" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detail</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <div class="pagination-info">
                                @Html.PagedListPager(Model, page => Url.Action("kurtulusocL", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
